<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="cnOnpe" connectionString="Data Source=.;Initial Catalog=Onpe;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="cnplanillas" connectionString="Data Source=.;Initial Catalog=planillas;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="cnPlanillaSQL" connectionString="Data Source=.;Initial Catalog=planillas;Persist Security Info=True;User ID=sa;Password=sa." providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>